
<h1> Ingredients Ordered by Number of Allergies </h1>
<ul>
    <% @ingredients.each do |ingredient|  %>
    <li>
    <%= ingredient.name  %> - <%= ingredient.allergies.size %>
    </li>
    <% end %> 
</ul>